<md-dialog aria-label="Modificar calendario" style="z-index:1000000">
    <md-dialog-content class="sticky-container" style="margin:1em">
        <md-subheader class="md-sticky-no-effect">Modificar</md-subheader>
        <div layout="column">
            <md-input-container md-no-float layout="column">
                <label>Nombre</label>
                <input ng-model="registro.title">
            </md-input-container>
        </div>
        <div layout="column">
            <md-input-container md-no-float layout="column">
                <label>Fecha</label>
                <input ng-model="registro.date" type="text" placeholder="yyyy-mm-dd">
            </md-input-container>
        </div>
       <md-input-container md-no-float>
            <label>Inicio</label>
            <input ng-model="registro.startTime" type="text" placeholder="hh:mm">
        </md-input-container>
        <md-input-container md-no-float>
            <label>Final</label>
            <input ng-model="registro.endTime" type="text" placeholder="hh:mm">
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" class="md-primary">
            Cancelar
        </md-button>
        <md-button ng-click="guardar()" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>
