<div class="progress" ng-show="progresoCarga < 98">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progresoCarga}}%;">
        <span class="sr-only">{{progresoCarga}}% Complete</span>
    </div>
</div>


<h2 id="actividades">{{strings.index.events}}</h2>
<accordion close-others="false" id="acordeon_act">
    <accordion-group ng-repeat="registro in actividades" elemento="{{registro}}" heading="{{registro.title.value}}" is-open="registro.anyOldValue">
        <accordion-heading>
            <strong>{{ registro.title.value }}</strong>
            <div>
                <span class="label label-success label-as-badge" ng-show="registro.tipo.value"> {{registro.tipo.value}}</span>
                <span class="badge" mostrarfecha="{{registro}}"></span>
            </div>
            <div class="small">
            <div ng-bind-html="registro.horario.value"></div>
            </div>
        </accordion-heading>
        <content-item content="detalle" type="evento" ng-controller="DetalleController"></content-item>
    </accordion-group>
</accordion>

<h2 id="monumentos">{{strings.index.monuments}}</h2>
<accordion close-others="false" id="acordeon_mon">
    <accordion-group ng-repeat="registro in monumentos" elemento="{{registro}}" heading="{{registro.title.value}}" is-open="registro.anyOldValue">
        <accordion-heading>
            <strong>{{ registro.title.value }}</strong>
            <div>
                <span class="label label-success label-as-badge" ng-show="registro.tipo.value"> {{registro.tipo.value}}</span>
            </div>
        </accordion-heading>
        <content-item content="detalle" type="monumento" ng-controller="DetalleController"></content-item>
    </accordion-group>
</accordion>
