/* app css stylesheet */
.label-as-badge {
    border-radius: 1em;
}
.menu-icon{
    background:none;
    border:none;
}

.leaflet-top, .leaflet-bottom{
	z-index:auto;
}
#contenedor{margin-top:2em;}

.btnAddCalendar[disabled]{
	background-color:green;
	border:none;
}

.btnAddCalendar{
	background-color:gray;
	border:none;
}

@media (min-width: 600px) {
[layout-fill]{width:76%\9 !important;}
}