<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es" ng-app="descubre" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es" ng-app="descubre" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es" ng-app="descubre" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" ng-app="descubre" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Descubre la ciudad de Zaragoza</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="app.css">
    <!-- endbuild -->
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body layout="horizontal">
    <noscript>
        <div style="display:block;clear:both">
        <h1>Descubre la ciudad de Zaragoza</h1>
        <p>Para el correcto funcionamiento del servicio debe acceder al mismo con un navegador que tenga Javascript habilidado.</p>
        <p>El servicio proporciona un acceso unificado a los siguientes recursos disponibles en el sitio web del ayuntamiento de zaragoza</p>
        <ul>
        <li><a href="http://www.zaragoza.es/ciudad/actividades/">Agenda de actividades</a></li>
        <li><a href="http://www.zaragoza.es/ciudad/actividades/juvenil/">Agenda de actividades para jóvenes</a></li>
        <li><a href="http://www.zaragoza.es/ciudad/centros/buscar_Centro">Equipamientos de la ciudad</a></li>
        <li><a href="http://www.zaragoza.es/ciudad/turismo/es/que-visitar/sitios-interes/monumentos.htm">Monumentos</a></li>
        <li><a href="http://www.zaragoza.es/ciudad/turismo/es/organiza-viaje/alojamientos.htm">Alojamientos</a></li>
        <li><a href="http://www.zaragoza.es/ciudad/turismo/es/organiza-viaje/gastronomia.htm">Restaurantes</a></li>
        </ul>
    </div>
    </noscript>
    
    <md-sidenav layout="column" style="overflow: hidden; display: flex;" class="hidden md-sidenav-left md-whiteframe-z2" md-component-id="left" id="menu" md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>

        <md-toolbar class="md-hue-2" style="min-height: 64px; max-height:64px;" layout="column">
            <h1 class="md-toolbar-tools" flex layout="column">
            <a href="#index" layout="row" flex>
                <div flex style="line-height:40px; text-indent: 15px;"><img src="img/logo.png" alt="{{::strings.nav.short_title}}"/></div>
            </a>
            </h1>
        </md-toolbar>
        <md-content flex style="overflow: auto;">
            <ul class="nav nav-stacked">
                <li data-match-route="#/para/infancia" role="presentation"><a href="#/para/infancia">{{::strings.nav.child}}</a>
                </li>
                <li data-match-route="#/para/jovenes" role="presentation"><a href="#/para/jovenes">{{::strings.nav.young}}</a>
                </li>
                <li data-match-route="#/para/mayores" role="presentation"><a href="#/para/mayores">{{::strings.nav.elder}}</a>
                </li>
                <li role="presentation" class="divider">&nbsp;</li>
                <li data-match-route="#/facet/gastronomia" role="presentation"><a href="#/facet/gastronomia">{{::strings.nav.gastronomy}}</a>
                </li>
                <li data-match-route="#/facet/alojamiento" role="presentation"><a href="#/facet/alojamiento">{{::strings.nav.accommodation}}</a>
                </li>
                <li data-match-route="#/facet/agenda" role="presentation"><a href="#/facet/agenda">{{::strings.nav.events}}</a>
                </li>
                <li role="presentation" class="divider">&nbsp;</li>
                <li ng-controller="BusquedaCtrl">
                    <form class="navbar-form navbar-right form-inline" ng-submit="buscar()" role="form">
                        <div class="input-group">
                            <input type='text' placeholder="{{::strings.nav.search}}" name="q" ng-model="consulta" class="form-control">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i><span class="btn sr-only" type="submit">{{::strings.nav.search}}</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <div layout="column" class="hidden" layout-fill tabIndex="-1" id="maincontenido" role="main" ng-cloak>
        <div ng-controller="MenuCtrl as nav">
            <md-toolbar layout="column" class="md-hue-2">
                <div class="md-toolbar-tools" flex layout="column">
                    <div flex="80" ng-click="openMenu()">
                        <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu" style="position: relative; top: .25em;">
                            <md-icon icon="img/ic_menu_24px.svg" style=""></md-icon>
                        </button>
                        <span class="menu-separator-icon">
                        {{::strings.nav.title}} <small>v<span app-version></span>
                        </small>
                        </span>
                    </div>
                    <div flex="20">
                        <md-button flex ng-click="toggleRight()" aria-label="{{::strings.nav.agenda}}">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </md-button>

                    </div>
                </div>

            </md-toolbar>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-cloak>
                <md-toolbar class="md-hue-2">
                    <h1 class="md-toolbar-tools"><span class="glyphicon glyphicon-calendar"></span>{{::strings.nav.agenda}}</h1>
                </md-toolbar>
                <md-content>
                    <ul>
                        <li ng-repeat="item in items.nodated track by $index">
                            <button class="pull-right btn btn-default btn-sm" type="button" aria-label="Editar" ng-click="updateAgenda($event,$index,'nodated')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="pull-right btn btn-default btn-sm" type="button" aria-label="Borrar" ng-click="removeAgenda($index,'nodated')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {{item.title}}
                        </li>
                    </ul>
                    <ul>
                        <li ng-repeat="fechas in items.dated">
                            {{fechas[0].date | date:'EEEE dd MMMM'}}
                            <dl ng-repeat="item in fechas track by $index">
                                <dt>{{item.startTime}} {{item.endTime}}
                                    <button class="pull-right btn btn-default btn-sm" type="button" aria-label="Editar" ng-click="updateAgenda($event,$index,item.date,'dated')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="pull-right btn btn-default btn-sm" type="button" aria-label="Borrar" ng-click="removeAgenda($index,item.date,'dated')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </dt>
                                <dd>{{item.title}}</dd>
                            </dl>

                        </li>
                    </ul>
                    <div ng-hide="items.dated.length || items.nodated.length ">Puede añadir recursos a la agenda utilizando el icono de calendario.</div>
                    <!--<md-button ng-click="closeRight()" class="md-primary">
              Close Sidenav Right
            </md-button>-->
                </md-content>
            </md-sidenav>
        </div>
        <md-content ng-view md-scroll-y flex class="md-padding" id="contenedor"></md-content>
    </div>
    

    <!-- build:js({.tmp,app}) scripts/external.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/angular-locale_es-es.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="js/mensajes.js"></script>
    <script src="app.js"></script>
    <script src="index/index.js"></script>
    <script src="sector/sector.js"></script>
    <script src="facet/facet.js"></script>
    <script src="buscar/buscar.js"></script>

    <script src="js/version/version.js"></script>
    <script src="js/version/version-directive.js"></script>
    <script src="js/version/interpolate-filter.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/ui.js -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <!-- endbuild -->
</body>

</html>
