<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_interior" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{titleh2}}</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse" id="nav_interior">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: opt==='event'}"><a href ng-click="mostrar('event')" class="small">{{strings.nav.events}} <span class="sr-only" ng-show="opt==='event'">(current)</span></a>
                </li>
                <li ng-class="{active: opt==='resource'}"><a href ng-click="mostrar('resource')" class="small">{{strings.nav.resources}} <span class="sr-only" ng-show="opt==='resource'">(current)</span></a>
                </li>
                <li ng-class="{active: opt===item.opt}" ng-repeat="item in ctrl.menu"><a href ng-click="mostrar(item.opt, item.uri)" class="small">{{item.text}} <span class="sr-only" ng-show="opt===item.opt">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div infinite-scroll="loadMoreRecurso()" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-parent="s">
    <accordion close-others="false">
        <accordion-group ng-repeat="registro in equipamientos" elemento="{{registro}}" heading="{{registro.title.value}}" is-open="registro.anyOldValue">
            <accordion-heading>
                <strong>{{ registro.title.value || registro.title }}</strong>
                <div>
                    <span class="label label-success label-as-badge" ng-show="registro.tipo.value"> {{registro.tipo.value}}</span>
                    <span class="badge" mostrarfecha="{{registro}}"></span>
                </div>
            </accordion-heading>
            <content-item content="detalle" type="mapa-colaborativo" ng-controller="DetalleController"></content-item>
        </accordion-group>
    </accordion>
</div>
